# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
projects/lpda-download-menu/node_modules/.bin/crc32
projects/lpda-download-menu/node_modules/.bin/xlsx
projects/lpda-download-menu/node_modules/adler-32/adler32.js
projects/lpda-download-menu/node_modules/adler-32/LICENSE
projects/lpda-download-menu/node_modules/adler-32/package.json
projects/lpda-download-menu/node_modules/adler-32/README.md
projects/lpda-download-menu/node_modules/adler-32/types/index.d.ts
projects/lpda-download-menu/node_modules/adler-32/types/tsconfig.json
projects/lpda-download-menu/node_modules/adler-32/types/tslint.json
projects/lpda-download-menu/node_modules/cfb/cfb.js
projects/lpda-download-menu/node_modules/cfb/LICENSE
projects/lpda-download-menu/node_modules/cfb/package.json
projects/lpda-download-menu/node_modules/cfb/README.md
projects/lpda-download-menu/node_modules/cfb/xlscfb.flow.js
projects/lpda-download-menu/node_modules/cfb/dist/cfb.js
projects/lpda-download-menu/node_modules/cfb/dist/cfb.min.js
projects/lpda-download-menu/node_modules/cfb/dist/cfb.min.map
projects/lpda-download-menu/node_modules/cfb/dist/LICENSE
projects/lpda-download-menu/node_modules/cfb/dist/xlscfb.js
projects/lpda-download-menu/node_modules/cfb/types/index.d.ts
projects/lpda-download-menu/node_modules/cfb/types/tsconfig.json
projects/lpda-download-menu/node_modules/codepage/cptable.js
projects/lpda-download-menu/node_modules/codepage/cputils.js
projects/lpda-download-menu/node_modules/codepage/LICENSE
projects/lpda-download-menu/node_modules/codepage/package.json
projects/lpda-download-menu/node_modules/codepage/README.md
projects/lpda-download-menu/node_modules/codepage/bits/37.js
projects/lpda-download-menu/node_modules/codepage/bits/437.js
projects/lpda-download-menu/node_modules/codepage/bits/500.js
projects/lpda-download-menu/node_modules/codepage/bits/620.js
projects/lpda-download-menu/node_modules/codepage/bits/708.js
projects/lpda-download-menu/node_modules/codepage/bits/720.js
projects/lpda-download-menu/node_modules/codepage/bits/737.js
projects/lpda-download-menu/node_modules/codepage/bits/775.js
projects/lpda-download-menu/node_modules/codepage/bits/808.js
projects/lpda-download-menu/node_modules/codepage/bits/850.js
projects/lpda-download-menu/node_modules/codepage/bits/852.js
projects/lpda-download-menu/node_modules/codepage/bits/855.js
projects/lpda-download-menu/node_modules/codepage/bits/857.js
projects/lpda-download-menu/node_modules/codepage/bits/858.js
projects/lpda-download-menu/node_modules/codepage/bits/860.js
projects/lpda-download-menu/node_modules/codepage/bits/861.js
projects/lpda-download-menu/node_modules/codepage/bits/862.js
projects/lpda-download-menu/node_modules/codepage/bits/863.js
projects/lpda-download-menu/node_modules/codepage/bits/864.js
projects/lpda-download-menu/node_modules/codepage/bits/865.js
projects/lpda-download-menu/node_modules/codepage/bits/866.js
projects/lpda-download-menu/node_modules/codepage/bits/869.js
projects/lpda-download-menu/node_modules/codepage/bits/870.js
projects/lpda-download-menu/node_modules/codepage/bits/872.js
projects/lpda-download-menu/node_modules/codepage/bits/874.js
projects/lpda-download-menu/node_modules/codepage/bits/875.js
projects/lpda-download-menu/node_modules/codepage/bits/895.js
projects/lpda-download-menu/node_modules/codepage/bits/932.js
projects/lpda-download-menu/node_modules/codepage/bits/936.js
projects/lpda-download-menu/node_modules/codepage/bits/949.js
projects/lpda-download-menu/node_modules/codepage/bits/950.js
projects/lpda-download-menu/node_modules/codepage/bits/1010.js
projects/lpda-download-menu/node_modules/codepage/bits/1026.js
projects/lpda-download-menu/node_modules/codepage/bits/1047.js
projects/lpda-download-menu/node_modules/codepage/bits/1132.js
projects/lpda-download-menu/node_modules/codepage/bits/1140.js
projects/lpda-download-menu/node_modules/codepage/bits/1141.js
projects/lpda-download-menu/node_modules/codepage/bits/1142.js
projects/lpda-download-menu/node_modules/codepage/bits/1143.js
projects/lpda-download-menu/node_modules/codepage/bits/1144.js
projects/lpda-download-menu/node_modules/codepage/bits/1145.js
projects/lpda-download-menu/node_modules/codepage/bits/1146.js
projects/lpda-download-menu/node_modules/codepage/bits/1147.js
projects/lpda-download-menu/node_modules/codepage/bits/1148.js
projects/lpda-download-menu/node_modules/codepage/bits/1149.js
projects/lpda-download-menu/node_modules/codepage/bits/1250.js
projects/lpda-download-menu/node_modules/codepage/bits/1251.js
projects/lpda-download-menu/node_modules/codepage/bits/1252.js
projects/lpda-download-menu/node_modules/codepage/bits/1253.js
projects/lpda-download-menu/node_modules/codepage/bits/1254.js
projects/lpda-download-menu/node_modules/codepage/bits/1255.js
projects/lpda-download-menu/node_modules/codepage/bits/1256.js
projects/lpda-download-menu/node_modules/codepage/bits/1257.js
projects/lpda-download-menu/node_modules/codepage/bits/1258.js
projects/lpda-download-menu/node_modules/codepage/bits/1361.js
projects/lpda-download-menu/node_modules/codepage/bits/10000.js
projects/lpda-download-menu/node_modules/codepage/bits/10001.js
projects/lpda-download-menu/node_modules/codepage/bits/10002.js
projects/lpda-download-menu/node_modules/codepage/bits/10003.js
projects/lpda-download-menu/node_modules/codepage/bits/10004.js
projects/lpda-download-menu/node_modules/codepage/bits/10005.js
projects/lpda-download-menu/node_modules/codepage/bits/10006.js
projects/lpda-download-menu/node_modules/codepage/bits/10007.js
projects/lpda-download-menu/node_modules/codepage/bits/10008.js
projects/lpda-download-menu/node_modules/codepage/bits/10010.js
projects/lpda-download-menu/node_modules/codepage/bits/10017.js
projects/lpda-download-menu/node_modules/codepage/bits/10021.js
projects/lpda-download-menu/node_modules/codepage/bits/10029.js
projects/lpda-download-menu/node_modules/codepage/bits/10079.js
projects/lpda-download-menu/node_modules/codepage/bits/10081.js
projects/lpda-download-menu/node_modules/codepage/bits/10082.js
projects/lpda-download-menu/node_modules/codepage/bits/20000.js
projects/lpda-download-menu/node_modules/codepage/bits/20001.js
projects/lpda-download-menu/node_modules/codepage/bits/20002.js
projects/lpda-download-menu/node_modules/codepage/bits/20003.js
projects/lpda-download-menu/node_modules/codepage/bits/20004.js
projects/lpda-download-menu/node_modules/codepage/bits/20005.js
projects/lpda-download-menu/node_modules/codepage/bits/20105.js
projects/lpda-download-menu/node_modules/codepage/bits/20106.js
projects/lpda-download-menu/node_modules/codepage/bits/20107.js
projects/lpda-download-menu/node_modules/codepage/bits/20108.js
projects/lpda-download-menu/node_modules/codepage/bits/20261.js
projects/lpda-download-menu/node_modules/codepage/bits/20269.js
projects/lpda-download-menu/node_modules/codepage/bits/20273.js
projects/lpda-download-menu/node_modules/codepage/bits/20277.js
projects/lpda-download-menu/node_modules/codepage/bits/20278.js
projects/lpda-download-menu/node_modules/codepage/bits/20280.js
projects/lpda-download-menu/node_modules/codepage/bits/20284.js
projects/lpda-download-menu/node_modules/codepage/bits/20285.js
projects/lpda-download-menu/node_modules/codepage/bits/20290.js
projects/lpda-download-menu/node_modules/codepage/bits/20297.js
projects/lpda-download-menu/node_modules/codepage/bits/20420.js
projects/lpda-download-menu/node_modules/codepage/bits/20423.js
projects/lpda-download-menu/node_modules/codepage/bits/20424.js
projects/lpda-download-menu/node_modules/codepage/bits/20833.js
projects/lpda-download-menu/node_modules/codepage/bits/20838.js
projects/lpda-download-menu/node_modules/codepage/bits/20866.js
projects/lpda-download-menu/node_modules/codepage/bits/20871.js
projects/lpda-download-menu/node_modules/codepage/bits/20880.js
projects/lpda-download-menu/node_modules/codepage/bits/20905.js
projects/lpda-download-menu/node_modules/codepage/bits/20924.js
projects/lpda-download-menu/node_modules/codepage/bits/20932.js
projects/lpda-download-menu/node_modules/codepage/bits/20936.js
projects/lpda-download-menu/node_modules/codepage/bits/20949.js
projects/lpda-download-menu/node_modules/codepage/bits/21025.js
projects/lpda-download-menu/node_modules/codepage/bits/21027.js
projects/lpda-download-menu/node_modules/codepage/bits/21866.js
projects/lpda-download-menu/node_modules/codepage/bits/28591.js
projects/lpda-download-menu/node_modules/codepage/bits/28592.js
projects/lpda-download-menu/node_modules/codepage/bits/28593.js
projects/lpda-download-menu/node_modules/codepage/bits/28594.js
projects/lpda-download-menu/node_modules/codepage/bits/28595.js
projects/lpda-download-menu/node_modules/codepage/bits/28596.js
projects/lpda-download-menu/node_modules/codepage/bits/28597.js
projects/lpda-download-menu/node_modules/codepage/bits/28598.js
projects/lpda-download-menu/node_modules/codepage/bits/28599.js
projects/lpda-download-menu/node_modules/codepage/bits/28600.js
projects/lpda-download-menu/node_modules/codepage/bits/28601.js
projects/lpda-download-menu/node_modules/codepage/bits/28603.js
projects/lpda-download-menu/node_modules/codepage/bits/28604.js
projects/lpda-download-menu/node_modules/codepage/bits/28605.js
projects/lpda-download-menu/node_modules/codepage/bits/28606.js
projects/lpda-download-menu/node_modules/codepage/bits/29001.js
projects/lpda-download-menu/node_modules/codepage/bits/38598.js
projects/lpda-download-menu/node_modules/codepage/bits/47451.js
projects/lpda-download-menu/node_modules/codepage/bits/50220.js
projects/lpda-download-menu/node_modules/codepage/bits/50221.js
projects/lpda-download-menu/node_modules/codepage/bits/50222.js
projects/lpda-download-menu/node_modules/codepage/bits/50225.js
projects/lpda-download-menu/node_modules/codepage/bits/50227.js
projects/lpda-download-menu/node_modules/codepage/bits/51932.js
projects/lpda-download-menu/node_modules/codepage/bits/51936.js
projects/lpda-download-menu/node_modules/codepage/bits/51949.js
projects/lpda-download-menu/node_modules/codepage/bits/52936.js
projects/lpda-download-menu/node_modules/codepage/bits/54936.js
projects/lpda-download-menu/node_modules/codepage/bits/57002.js
projects/lpda-download-menu/node_modules/codepage/bits/57003.js
projects/lpda-download-menu/node_modules/codepage/bits/57004.js
projects/lpda-download-menu/node_modules/codepage/bits/57005.js
projects/lpda-download-menu/node_modules/codepage/bits/57006.js
projects/lpda-download-menu/node_modules/codepage/bits/57007.js
projects/lpda-download-menu/node_modules/codepage/bits/57008.js
projects/lpda-download-menu/node_modules/codepage/bits/57009.js
projects/lpda-download-menu/node_modules/codepage/bits/57010.js
projects/lpda-download-menu/node_modules/codepage/bits/57011.js
projects/lpda-download-menu/node_modules/codepage/dist/cpexcel.full.js
projects/lpda-download-menu/node_modules/codepage/dist/sbcs.full.js
projects/lpda-download-menu/node_modules/codepage/types/index.d.ts
projects/lpda-download-menu/node_modules/codepage/types/tsconfig.json
projects/lpda-download-menu/node_modules/codepage/types/tslint.json
projects/lpda-download-menu/node_modules/crc-32/crc32.js
projects/lpda-download-menu/node_modules/crc-32/crc32c.js
projects/lpda-download-menu/node_modules/crc-32/LICENSE
projects/lpda-download-menu/node_modules/crc-32/package.json
projects/lpda-download-menu/node_modules/crc-32/README.md
projects/lpda-download-menu/node_modules/crc-32/bin/crc32.njs
projects/lpda-download-menu/node_modules/crc-32/types/index.d.ts
projects/lpda-download-menu/node_modules/crc-32/types/tsconfig.json
projects/lpda-download-menu/node_modules/crc-32/types/tslint.json
projects/lpda-download-menu/node_modules/frac/frac.js
projects/lpda-download-menu/node_modules/frac/LICENSE
projects/lpda-download-menu/node_modules/frac/package.json
projects/lpda-download-menu/node_modules/frac/README.md
projects/lpda-download-menu/node_modules/frac/dist/frac.js
projects/lpda-download-menu/node_modules/frac/dist/frac.min.js
projects/lpda-download-menu/node_modules/frac/dist/frac.min.map
projects/lpda-download-menu/node_modules/frac/dist/LICENSE
projects/lpda-download-menu/node_modules/frac/types/index.d.ts
projects/lpda-download-menu/node_modules/frac/types/tsconfig.json
projects/lpda-download-menu/node_modules/frac/types/tslint.json
projects/lpda-download-menu/node_modules/ssf/LICENSE
projects/lpda-download-menu/node_modules/ssf/package.json
projects/lpda-download-menu/node_modules/ssf/README.md
projects/lpda-download-menu/node_modules/ssf/ssf.flow.js
projects/lpda-download-menu/node_modules/ssf/ssf.js
projects/lpda-download-menu/node_modules/ssf/types/index.d.ts
projects/lpda-download-menu/node_modules/ssf/types/tsconfig.json
projects/lpda-download-menu/node_modules/tslib/CopyrightNotice.txt
projects/lpda-download-menu/node_modules/tslib/LICENSE.txt
projects/lpda-download-menu/node_modules/tslib/package.json
projects/lpda-download-menu/node_modules/tslib/README.md
projects/lpda-download-menu/node_modules/tslib/SECURITY.md
projects/lpda-download-menu/node_modules/tslib/tslib.d.ts
projects/lpda-download-menu/node_modules/tslib/tslib.es6.html
projects/lpda-download-menu/node_modules/tslib/tslib.es6.js
projects/lpda-download-menu/node_modules/tslib/tslib.html
projects/lpda-download-menu/node_modules/tslib/tslib.js
projects/lpda-download-menu/node_modules/tslib/modules/index.js
projects/lpda-download-menu/node_modules/tslib/modules/package.json
projects/lpda-download-menu/node_modules/wmf/LICENSE
projects/lpda-download-menu/node_modules/wmf/package.json
projects/lpda-download-menu/node_modules/wmf/README.md
projects/lpda-download-menu/node_modules/wmf/dist/wmf.js
projects/lpda-download-menu/node_modules/wmf/dist/wmf.js.map
projects/lpda-download-menu/node_modules/wmf/dist/wmf.node.js
projects/lpda-download-menu/node_modules/wmf/dist/wmf.node.js.map
projects/lpda-download-menu/node_modules/word/CONTRIBUTING.md
projects/lpda-download-menu/node_modules/word/LICENSE
projects/lpda-download-menu/node_modules/word/package.json
projects/lpda-download-menu/node_modules/word/README.md
projects/lpda-download-menu/node_modules/word/word.js
projects/lpda-download-menu/node_modules/xlsx/bower.json
projects/lpda-download-menu/node_modules/xlsx/CHANGELOG.md
projects/lpda-download-menu/node_modules/xlsx/formats.png
projects/lpda-download-menu/node_modules/xlsx/legend.png
projects/lpda-download-menu/node_modules/xlsx/LICENSE
projects/lpda-download-menu/node_modules/xlsx/package.json
projects/lpda-download-menu/node_modules/xlsx/README.md
projects/lpda-download-menu/node_modules/xlsx/xlsx.js
projects/lpda-download-menu/node_modules/xlsx/xlsx.mjs
projects/lpda-download-menu/node_modules/xlsx/xlsxworker.js
projects/lpda-download-menu/node_modules/xlsx/bin/xlsx.njs
projects/lpda-download-menu/node_modules/xlsx/dist/cpexcel.full.mjs
projects/lpda-download-menu/node_modules/xlsx/dist/cpexcel.js
projects/lpda-download-menu/node_modules/xlsx/dist/LICENSE
projects/lpda-download-menu/node_modules/xlsx/dist/shim.min.js
projects/lpda-download-menu/node_modules/xlsx/dist/xlsx.core.min.js
projects/lpda-download-menu/node_modules/xlsx/dist/xlsx.core.min.map
projects/lpda-download-menu/node_modules/xlsx/dist/xlsx.extendscript.js
projects/lpda-download-menu/node_modules/xlsx/dist/xlsx.full.min.js
projects/lpda-download-menu/node_modules/xlsx/dist/xlsx.full.min.map
projects/lpda-download-menu/node_modules/xlsx/dist/xlsx.mini.min.js
projects/lpda-download-menu/node_modules/xlsx/dist/xlsx.mini.min.map
projects/lpda-download-menu/node_modules/xlsx/dist/xlsx.zahl.js
projects/lpda-download-menu/node_modules/xlsx/dist/xlsx.zahl.mjs
projects/lpda-download-menu/node_modules/xlsx/types/index.d.ts
projects/lpda-download-menu/node_modules/xlsx/types/tsconfig.json
