// @include "../shared-styles.scss";
// @import "../shared-style.scss";

:host {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.452);



  .close-button {
    margin-left: .25rem;
  }

  .content {
    width: 90%;
    max-width: 650px;
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: 0;
    // bottom: 0;
    height: 100vh;
    margin-bottom: 15px;
    border-radius: 5px;
    margin: auto;
    transform: translate(-50%, 0);
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    form {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    font-size: 1.15em;
    display: block;
    margin-bottom: 1rem;

    .count {
      font-weight: 500;
      font-size: 1.25em;
      margin-right: .25rem;
    }
  }

  .select-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 1rem;
    padding: 0 1rem;
  }


  lib-add-questions {
    flex-grow: 1;
  }
}
