<ng-template #buttonsRow>
  <div style="display: flex; align-items: center; margin-top: .5rem; justify-content: space-between;">
    <button class="btn" [ngClass]="{
      'btn-default': !isFirstStep,
      'visibility-hidden': isFirstStep
    }" type="button" (click)="decreaseIndex()">
      <ng-template #exitText>{{'Cancel' | limeTranslate}}</ng-template>

      <ng-container *ngIf="!isFirstStep; else exitText">
        {{'Previous' | limeTranslate}}
      </ng-container>
    </button>

    <button class="btn" [ngClass]="{'btn-default': !isLastStep, 'btn-success': isLastStep}"
      style="margin-right: .25rem;" type="submit">
      <ng-template #submitText>{{'Confirm' | limeTranslate}}</ng-template>

      <ng-container *ngIf="!isLastStep; else submitText">
        {{'Next' | limeTranslate}}
      </ng-container>
    </button>
  </div>
</ng-template>

<!-- CONTENT -->
<div class="content">
  <div class="d-flex justify-content-between my-2">
    <h1 class="nomargin" [innerText]="'Quick Add Quotas' | limeTranslate"></h1>

    <button (click)="cancel()" class="btn btn-default">
      <i class="fa fa-close"></i>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="increaseIndex()">
    <ng-container *ngTemplateOutlet="buttonsRow"></ng-container>

    <div class="flex-grow-1 overflow-y-hidden d-flex-column" *ngIf="currentIndex == 1">
      <span class="title">
        <span class="count">1.</span>
        <span [innerText]="'Select questions' | limeTranslate"></span>
      </span>
      <lib-add-questions [formControlName]="'questions'"></lib-add-questions>
      <lib-show-errors [errors]="form.get('questions')?.errors ?? null" ></lib-show-errors>

      <span class="title">
        <span class="count">2.</span>
        <span [innerText]="'Settings' | limeTranslate"></span>
      </span>

      <div class="select-grid">
        <span [innerText]="'Quota action' | limeTranslate"></span>
        <ng-select [dropdownPosition]="'top'" [clearable]="false" [formControlName]="'quotaAction'">
          <ng-option [value]="1" [innerText]="'Terminate survey' | limeTranslate"></ng-option>
          <ng-option [value]="2"
            [innerText]="'Allow user to modify his last answers before terminate survey' | limeTranslate"></ng-option>
        </ng-select>

        <ng-container *ngIf="includeQuotaType">
          <span [innerText]="'Quota type' | limeTranslate"></span>
          <ng-select [dropdownPosition]="'top'" [clearable]="false" [formControlName]="'quotaType'">
            <ng-option [value]="0" [innerText]="'Quota' | limeTranslate"></ng-option>
            <ng-option [value]="1" [innerText]="'Screenout' | limeTranslate"></ng-option>
            <ng-option [value]="2" [innerText]="'Cheater' | limeTranslate"></ng-option>
          </ng-select>
        </ng-container>
      </div>

      <lib-show-errors [errors]="form.get('quotaAction')?.errors ?? null" ></lib-show-errors>
      <lib-show-errors [errors]="form.get('quotaType')?.errors ?? null" ></lib-show-errors>
    </div>

    <div class="flex-grow-1 overflow-y-hidden d-flex-column" *ngIf="currentIndex == 2">
      <span class="title">
        <span class="count">3.</span>
        <span [innerText]="'Set limits' | limeTranslate"></span>
      </span>

      <lib-select-quota-members [formControlName]="'quotas'" [questions]="selectedQuestions">
      </lib-select-quota-members>

      <lib-show-errors [errors]="form.get('quotas')?.errors ?? null" ></lib-show-errors>
    </div>

    <div class="flex-grow-1 overflow-y-hidden d-flex-column" *ngIf="currentIndex == 3">
      <span class="title">
        <span class="count">4.</span>
        <span [innerText]="'Redirect and message' | limeTranslate"></span>
      </span>

      <div class="d-grid-2 mb-2">
        <span [innerText]="'Action to perform' | limeTranslate"></span>

        <ng-select class="flex-grow-1" [dropdownPosition]="'bottom'" [clearable]="false" [formControlName]="'actionToPerform'">
          <ng-option [value]="0">{{'Show message' | limeTranslate}}</ng-option>
          <ng-option [value]="1">{{'Link redirect' | limeTranslate}}</ng-option>
          <ng-option [value]="2">{{'Show message and link redirect' | limeTranslate}}</ng-option>
        </ng-select>
      </div>

      <lib-show-errors [errors]="form.get('actionToPerform')?.errors ?? null" ></lib-show-errors>

      <lib-translations-input class="d-flex flex-column overflow-hidden" [actionToPerform]="form.value.actionToPerform" [formControlName]="'translations'">
      </lib-translations-input>

      <lib-show-errors [errors]="form.get('translations')?.errors ?? null" ></lib-show-errors>
    </div>

    <ng-container *ngTemplateOutlet="buttonsRow"></ng-container>
  </form>
</div>

<!-- <pre style="position: absolute; top: 0; left: 0; overflow: auto; max-width: 200px;"
  [innerText]="{formVal: form.value} | json"></pre> -->
