:host{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgba(0, 0, 0, 0.452);
  overflow-y: auto;
  // z-index: var(--page-in-modal-z-index);

  .nomargin{
    margin: 0 !important;
  }

  .close-button{
    margin-left: .25rem;
  }

  .content{
    width: 90%;
    max-width: 650px;
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin: auto;
    transform: translate(-50%, 0);
    background-color: white;
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}