<div [formGroup]="form" class="d-flex justify-content-around" style="margin-bottom: 1rem;">
  <input tabindex="-1" class="activate-answer-quota" type="checkbox" formControlName="selected">

  <span>
    <ng-container *ngIf="selectedCount != undefined && totalCount != undefined && totalCount > 0">
      <!-- TODO stylish selected count -->
      {{selectedCount}} / {{totalCount}}
    </ng-container>
  </span>

  <!-- TODO note that only selected quotas will be edited -->
  <input class="form-control" min="0" formControlName="limit" type="number">
</div>

<div style="overflow: auto; display: flex; flex-direction: column;">
  <div class="selected-question-row" *ngFor="let a of items; index as index">
    <span class="d-flex align-items-center">
      <input tabindex="-1" id="selected_{{index}}" class="activate-answer-quota" type="checkbox"
        [(ngModel)]="a.selected" (ngModelChange)="selectedChange($event, index)">

      <label for="selected_{{index}}" style="margin-left: 1rem; display: flex; align-items: center;">
        <ng-container *ngFor="let answ of a.answers; index as index; last as isLast">
          <span class="underline-hover" data-placement="right" data-toggle="tooltip" [attr.data-original-title]="a.title" [title]="a.title" >
            {{answ.answer}}
          </span>

          <span class="mx-1" *ngIf="!isLast">
            -
          </span>
        </ng-container>
      </label>
    </span>

    <input [disabled]="a.selected !== true" class="form-control" min="0" [(ngModel)]="a.limit" type="number">
  </div>
</div>
