:host {
  --max-height: 1000px;

  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s linear;

  &.expanded {
    max-height: var(--max-height, 1001px)
  }

  .title {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
